* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background: url(img/bg.jpg) no-repeat center center/cover;
  color: #ededed;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  width: 50%;
  height: auto;
  border: 1px solid #ededed;
  margin: 3em auto;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 6px 5px #111111, -5px -5px 5px #111111;
}
.container h2 {
  font-size: 3em;
}
.container h1 {
  font-size: 8em;
  color: #00ff00;
}
.btns {
  display: grid;
  width: auto;
  padding: 20px;
}
button {
  text-transform: uppercase;
  background-color: #0000ff;
  padding: 10px 15px;
  color: #efefef;
  margin: 10px auto;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: 5px 6px 5px #111111, -5px -5px 5px #111111;
}

@media (max-width: 565px) {
  .container {
    width: 90%;
  }
}
